/*#leave em in the cold*/
body {
url(https://i.giphy.com/B8opMAIUHTdWj4miYp.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
